
*,*::after,*::before{margin: 0;padding: 0;box-sizing: border-box;}
html{  font-size: 63.5%; font-family: monospace;}

.h-2{ font-size: 3rem;  font-weight: 900; line-height: 1;}
.textsm{font-size: 2.8rem; font-weight: 600; 
}
.wait-text{font-size: 7rem; color:whitesmoke; margin:20%; text-align: center;}
a{text-decoration: none;}

.m10{ margin: 10px auto;}
.mb10{ margin-bottom: 10px;}

.btn{
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
    border:none;
    outline: none;
}

/* Welcome Section */

.welcome_section{

    max-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    background-image: linear-gradient( 135deg, #FAB2FF 10%, #1904E5 100%);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}


.welcome_section__contents{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.welcome_section__contents .h-2{
   color:whitesmoke;
   font-size:7rem;
   text-align: center;
}
@media screen and (max-width: 699px){
    .welcome_section__contents .h-2{
       font-size: 5rem;
    }
}

.welcome_section__img{
    width: 20vw;
    height: auto;
    margin: 3rem;
}

@media screen and (max-width: 699px){
    .welcome_section__img{
        width: 60vw;

    }
}

.welcome_section__contents .textsm{
    background-image: linear-gradient( 135deg, #FFA8A8 10%, #FCFF00 100%);
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
}
.timer{position: fixed; top:0px;left:0px;border-radius: 0!important; margin-top:0px;}
.timer,.next_quiz,.play_start_button{
       background-image: linear-gradient(to right, #ee0979 0%, #ff6a00  51%, #ee0979  100%);
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;  
}

.timer:hover,.next_quiz:hover,.play_start_button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .self_scores_btn{
    background-image: linear-gradient(to right, #ee0979 0%, #ff6a00  51%, #ee0979  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FCFF00;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;  
}

.self_scores_btn:hover {
 background-position: right center; /* change the direction of the change here */
 color: #fff;
 text-decoration: none;
}


/* Quiz body section */

.quizbody{
    /* background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */
    background-color: rgba(0, 0, 0, 0.795);
    max-width: 100vw;
    padding: 3rem 1rem 2rem;
    
}
.quiz_items{
   
    margin: 2rem auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
@media screen and (max-width: 699px){
    .quiz_items{width: 90%;align-items: stretch;
        justify-content: stretch;}
}
.quiz-item_qs{
    font-size: 3rem;  font-weight: 600; line-height: 1;
    color:#ffffff;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    padding:  1rem;
    border-radius: 13px;
}
 
.quiz-item_options{
   
    margin:.3rem auto 4.6rem;
    padding: 1rem;


}
.quiz-item_option{
    user-select: none;
    cursor: pointer;
   
    border-radius: 13px;
    border: 2px solid #ffffff;
    color:whitesmoke;
    padding: 1rem;
    font-size: 2.5rem;
}

.textsm.quiz-item_option.selectedans{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    /* background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); */
}

.btnred,.btnscore{
    background-image: linear-gradient(to right, #ee0979 0%, #ff6a00  51%, #ee0979  100%);
    color:white;
    padding: 1rem 1.6rem;
}

.btnred{
    position: fixed;
    left:0%;
    bottom: 0%;

}